<div class = "QuestionPhotoAlign">
  <%= image_tag "/Default_Cover/Defualt_Home_Page.jpg",
      class: "QuestionPhoto" %>
</div>

<div class = 'SiteDescriptionBlock'>
  <p class = 'SiteDescription'>
    <%= t(:question_part_1) %>
    <br>
    <%= t(:question_part_2) %>
  </p>
</div>

<script type="text/javascript">
  PreLoader("QuestionPhoto");
</script>
